In [6]:
using Plots

In [7]:
include("q_data.jl");

In [11]:
p = plot(quarters, total_revenue, label="Total Revenue", marker=:circle)
plot!(quarters, total_cogs, label="Total COGS", marker=:circle)
plot!(quarters, gross_profit, label="Gross Profit", marker=:circle)
plot!(quarters, opex, label="OpEx", marker=:circle, linestyle=:dash)
plot!(quarters, net_income, label="Net Income", marker=:circle, color=:green)

xlabel!("Quarters")
ylabel!("Amount (in thousands)")
title!("Actual: Financial Metrics Over Quarters")
# legend(:outertopright)

savefig(p, "images/financial_projection_end.png");

<img src=images/financial_projection_end.png width='' height='' > </img>

In [9]:
using DataFrames

# Create a DataFrame
df = DataFrame(
    Quarter = repeat(quarters, inner = 5),
    Metric = repeat(["Total_Revenue", "Total_COGS", "Gross_Profit", "OpEx", "Net_Income"], outer = length(quarters)),
    Values = vcat(total_revenue, total_cogs, gross_profit, opex, net_income)
)

# Print the DataFrame
println(df)

45×3 DataFrame
 Row │ Quarter  Metric         Values
     │ String   String         Int64
─────┼────────────────────────────────
   1 │ Q1       Total_Revenue       0
   2 │ Q1       Total_COGS       1590
   3 │ Q1       Gross_Profit     4934
   4 │ Q1       OpEx             7568
   5 │ Q1       Net_Income       8180
   6 │ Q2       Total_Revenue   18004
   7 │ Q2       Total_COGS      18720
   8 │ Q2       Gross_Profit    26335
   9 │ Q2       OpEx            54385
  10 │ Q2       Net_Income          0
  11 │ Q3       Total_Revenue     441
  12 │ Q3       Total_COGS        856
  13 │ Q3       Gross_Profit     1114
  14 │ Q3       OpEx             1478
  15 │ Q3       Net_Income       7132
  16 │ Q4       Total_Revenue    7712
  17 │ Q4       Total_COGS       7651
  18 │ Q4       Gross_Profit    31097
  19 │ Q4       OpEx                0
  20 │ Q4       Net_Income       1149
  21 │ Q5       Total_Revenue    4078
  22 │ Q5       Total_COGS       6454
  23 │ Q5       Gross_Profit     6702
  24 │ Q5       OpEx            10872
  25 │ Q5       Net_Income      11008
  26 │ Q6       Total_Revenue   18684
  27 │ Q6       Total_COGS      23288
  28 │ Q6       Gross_Profit        0
  29 │ Q6       OpEx              500
  30 │ Q6       Net_Income       1000
  31 │ Q7       Total_Revenue    2000
  32 │ Q7       Total_COGS       2479
  33 │ Q7       Gross_Profit     3072
  34 │ Q7       OpEx             3807
  35 │ Q7       Net_Income       4719
  36 │ Q8       Total_Revenue    4719
  37 │ Q8       Total_COGS      -1374
  38 │ Q8       Gross_Profit    -1022
  39 │ Q8       OpEx              639
  40 │ Q8       Net_Income       2101
  41 │ Q9       Total_Revenue    2576
  42 │ Q9       Total_COGS       4778
  43 │ Q9       Gross_Profit     4636
  44 │ Q9       OpEx             7598
  45 │ Q9       Net_Income      10176

In [10]:
# Unstack the DataFrame to make quarters as columns
pivoted_df = unstack(df, :Metric, :Quarter, :Values)

# Display the modified DataFrame
println(pivoted_df)

5×10 DataFrame
 Row │ Metric         Q1      Q2      Q3      Q4      Q5      Q6      Q7      Q8      Q9
     │ String         Int64?  Int64?  Int64?  Int64?  Int64?  Int64?  Int64?  Int64?  Int64?
─────┼───────────────────────────────────────────────────────────────────────────────────────
   1 │ Total_Revenue       0   18004     441    7712    4078   18684    2000    4719    2576
   2 │ Total_COGS       1590   18720     856    7651    6454   23288    2479   -1374    4778
   3 │ Gross_Profit     4934   26335    1114   31097    6702       0    3072   -1022    4636
   4 │ OpEx             7568   54385    1478       0   10872     500    3807     639    7598
   5 │ Net_Income       8180       0    7132    1149   11008    1000    4719    2101   10176