In [1]:
using Plots

In [2]:
quarters = ["Q1", "Q2", "Q3", "Q4", "Q5", "Q6", "Q7", "Q8", "Q9"]
total_revenue = [0, 3360, 10080, 23940, 33152, 51576, 79212, 116060, 162120]
total_cogs = [0, 1200, 2400, 4800, 1672, 2585, 3971, 5818, 8126]
gross_profit = [860, 2160, 7680, 19140, 31680, 48991, 75241, 110242, 153994]
opex = [20, 500, 1000, 2000, 2479, 3072, 3807, 4719, 4719]
net_income = [840, 1660, 6680, 17140, 29680, 46512, 72169, 106435, 149275]

9-element Vector{Int64}:
    840
   1660
   6680
  17140
  29680
  46512
  72169
 106435
 149275

In [9]:
p = plot(quarters, total_revenue, label="Total Revenue", marker=:circle)
plot!(quarters, total_cogs, label="Total COGS", marker=:circle)
plot!(quarters, gross_profit, label="Gross Profit", marker=:circle)
plot!(quarters, opex, label="OpEx", marker=:circle, linestyle=:dash)
plot!(quarters, net_income, label="Net Income", marker=:circle, color=:green)

xlabel!("Quarters")
ylabel!("Amount (in thousands)")
title!("Projected: Financial Metrics Over Quarters")
# legend(:outertopright)

savefig(p, "images/financial_projection_bp2.png");

<img src=images/financial_projection_bp2.png width='' height='' > </img>

In [4]:
using DataFrames

# Create a DataFrame
df = DataFrame(
    Quarter = repeat(quarters, inner = 5),
    Metric = repeat(["Total_Revenue", "Total_COGS", "Gross_Profit", "OpEx", "Net_Income"], outer = length(quarters)),
    Values = vcat(total_revenue, total_cogs, gross_profit, opex, net_income)
)

# Print the DataFrame
println(df)

45×3 DataFrame
 Row │ Quarter  Metric         Values
     │ String   String         Int64
─────┼────────────────────────────────
   1 │ Q1       Total_Revenue       0
   2 │ Q1       Total_COGS       3360
   3 │ Q1       Gross_Profit    10080
   4 │ Q1       OpEx            23940
   5 │ Q1       Net_Income      33152
   6 │ Q2       Total_Revenue   51576
   7 │ Q2       Total_COGS      79212
   8 │ Q2       Gross_Profit   116060
   9 │ Q2       OpEx           162120
  10 │ Q2       Net_Income          0
  11 │ Q3       Total_Revenue    1200
  12 │ Q3       Total_COGS       2400
  13 │ Q3       Gross_Profit     4800
  14 │ Q3       OpEx             1672
  15 │ Q3       Net_Income       2585
  16 │ Q4       Total_Revenue    3971
  17 │ Q4       Total_COGS       5818
  18 │ Q4       Gross_Profit     8126
  19 │ Q4       OpEx              860
  20 │ Q4       Net_Income       2160
  21 │ Q5       Total_Revenue    7680
  22 │ Q5       Total_COGS      19140
  23 │ Q5       Gross_Profit    31680
  24 │ Q5       OpEx            48991
  25 │ Q5       Net_Income      75241
  26 │ Q6       Total_Revenue  110242
  27 │ Q6       Total_COGS     153994
  28 │ Q6       Gross_Profit       20
  29 │ Q6       OpEx              500
  30 │ Q6       Net_Income       1000
  31 │ Q7       Total_Revenue    2000
  32 │ Q7       Total_COGS       2479
  33 │ Q7       Gross_Profit     3072
  34 │ Q7       OpEx             3807
  35 │ Q7       Net_Income       4719
  36 │ Q8       Total_Revenue    4719
  37 │ Q8       Total_COGS        840
  38 │ Q8       Gross_Profit     1660
  39 │ Q8       OpEx             6680
  40 │ Q8       Net_Income      17140
  41 │ Q9       Total_Revenue   29680
  42 │ Q9       Total_COGS      46512
  43 │ Q9       Gross_Profit    72169
  44 │ Q9       OpEx           106435
  45 │ Q9       Net_Income     149275

In [5]:
# Unstack the DataFrame to make quarters as columns
pivoted_df = unstack(df, :Metric, :Quarter, :Values)

# Display the modified DataFrame
println(pivoted_df)

5×10 DataFrame
 Row │ Metric         Q1      Q2      Q3      Q4      Q5      Q6      Q7      Q8      Q9
     │ String         Int64?  Int64?  Int64?  Int64?  Int64?  Int64?  Int64?  Int64?  Int64?
─────┼───────────────────────────────────────────────────────────────────────────────────────
   1 │ Total_Revenue       0   51576    1200    3971    7680  110242    2000    4719   29680
   2 │ Total_COGS       3360   79212    2400    5818   19140  153994    2479     840   46512
   3 │ Gross_Profit    10080  116060    4800    8126   31680      20    3072    1660   72169
   4 │ OpEx            23940  162120    1672     860   48991     500    3807    6680  106435
   5 │ Net_Income      33152       0    2585    2160   75241    1000    4719   17140  149275

In [6]:
using Printf

function format_currency(value)
    if ismissing(value)
        return "\$ -"  # Handle missing values gracefully
    else
        # Format with two decimal places and commas
        formatted = @sprintf("%0.2f", value)
        # Insert commas into the integer part
        int_part, dec_part = split(formatted, '.')
        int_part = reverse(join([reverse(int_part[i:min(i+2, end)]) for i in 1:3:length(int_part)], ','))
        return "\$" * int_part * "." * dec_part
    end
end

format_currency (generic function with 1 method)

In [7]:
function print_currency_df(df::DataFrame)
    # Iterate over each column to apply currency formatting if it's numeric
    for col in names(df)
        if eltype(df[!, col]) <: Number  # Check if the column is numeric
            df[!, col] = format_currency.(df[!, col])  # Apply formatting
        end
    end

    # Print the DataFrame
    display(df)
end

print_currency_df (generic function with 1 method)

In [8]:
# Call the function to print the DataFrame
print_currency_df(pivoted_df)

5×10 DataFrame
 Row │ Metric         Q1      Q2      Q3      Q4      Q5      Q6      Q7       ⋯
     │ String         Int64?  Int64?  Int64?  Int64?  Int64?  Int64?  Int64?   ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Total_Revenue       0   51576    1200    3971    7680  110242    2000   ⋯
   2 │ Total_COGS       3360   79212    2400    5818   19140  153994    2479
   3 │ Gross_Profit    10080  116060    4800    8126   31680      20    3072
   4 │ OpEx            23940  162120    1672     860   48991     500    3807
   5 │ Net_Income      33152       0    2585    2160   75241    1000    4719   ⋯
                                                               2 columns omitted